<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href=<%= url("/styles/style.css") %>/>
</head>
<body>
<div class="backgroundImage"></div>
<div class="container">

  <%= yield %>
</div>
</body>

</html>